html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: var(--juejin-background-color);
  line-height: normal;
  color: var(--juejin-font-white);
}

body {
  word-break: break-word;
  overflow-y: scroll;
  -webkit-font-smoothing: unset !important;
  font-family:
    -apple-system,
    system-ui,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}

img {
  border-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  font: inherit;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #007fff;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 0.5rem 1.3rem;
  outline: none;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
}

:root {
  --juejin-navigation: #181818;
  --juejin-font-1: hsla(0, 0%, 100%, 0.8);
  --juejin-font-2: hsla(0, 0%, 100%, 0.7);
  --juejin-font-3: hsla(0, 0%, 100%, 0.46);
  --juejin-font-4: hsla(0, 0%, 100%, 0.45);
  --juejin-font-brand2-hover: #2b88ff;
  --juejin-font-white: #fff;
  --juejin-font-brand1-normal: #4495ff;
  --juejin-brand-1-normal: #1b73e5;
  --juejin-brand-2-hover: #0f66d6;
  --juejin-panel-brand: #1d7dfa;
  --juejin-brand-5-light: rgba(30, 128, 255, 0.2);

  --juejin-border-dark: #3d3e40;

  --juejin-background-color: #000;
  --juejin-background-color-2: #1f1f1f;
  --juejin-background-color-3: #2c2c2c;
  --juejin-background-color-4: #111111;
  --juejin-background-color-5: #121212;

  --juejin-panel-background-color: #232323;
  --juejin-panel-hover-color: #1f1f1f;
  --juejin-panel-hover-border-color: #3370ff;
  --juejin-layer-1: #181818;
  --juejin-layer-5: hsla(0, 0%, 100%, 0.12);
  --juejin-gray-1-1: hsla(0, 0%, 100%, 0.2);
  --juejin-gray-2: hsla(0, 0%, 100%, 0.12);
  --juejin-gray-3: hsla(0, 0%, 100%, 0.08);
  --juejin-gray-1-1: hsla(0, 0%, 100%, 0.2);
  --juejin-gray-1-2: hsla(0, 0%, 100%, 0.1);
  --juejin-layer-loading-start: hsla(0, 0%, 100%, 0);
  --juejin-layer-loading-end: hsla(0, 0%, 100%, 0.2);
  --juejin-layer-3-fill: hsla(0, 0%, 100%, 0.08);
  --jujin-cursor-color: #3478f6;
  --juejin-editor-color: #679ad1;
  --juejin-editor-scroll-color: #8f8f8f;
  --juejin-editor-selection-color: #476288;
  --juejin-font_danger: #f85959;
  --jujin-border-color-1: #515151;
}
